@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*  M E N U  */

nav {
    padding-right: 50px;
    height: 40px;
    transition: 0.5s;
    z-index: 100000;
    background: linear-gradient(#000000, rgb(203, 67, 53, 0));
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav a {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 2px 12px rgb(0, 0, 0);
    text-decoration: none;

}

header {
    margin-top: -40px;
    background: url('img/asdsadasdasd.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

header svg {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.encabezado {
    width: 50%;
    height: 50%;
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10000;


}

.encabezado img {
    margin-top: 100px;
    width: 50%;
    padding: 50px 0;
    background-color: #000000c7;
    border: 1px solid #ffffff;

    border-radius: 90%;
    box-shadow: 0 0 10px rgba(206, 206, 206, 0.705);
}

.encabezado p {
    font-size: 15px;
    position: absolute;
}

.encabezado p:first-child {
    margin: 85px 0 0 160px;
}




/*! WAHTSAP  */
.wpp {
    position: fixed;
    width: 55px;
    height: 55px;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;

}

.wpp i {
    position: sticky;
    font-size: 40px;
    color: white;

}


body {
    background: #b8b8b8;


}

main {
    width: 100%;
    margin: 0 auto;
    height: 1500px;
    z-index: 100000;

}





.contlogo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contlogo .logo {
    margin: 0 auto;
    width: 120px;
    display: flex;
    background-color: #000000c7;
    border-radius: 80%;
    border: 1px solid #4b4b4bc7;
    padding: 10px 0;
    box-shadow: 0 0 10px rgb(207, 207, 207);
}

.contlogo span {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 5px;
}

.contlogo span:first-child {
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
}

.contlogo span:last-child {
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
}

/*! menu BBURGUERS  */
.b {
    width: fit-content;
    margin-bottom: -40px;
}

.b h2 {
    font-family: 'Arvo', serif;
    padding-left: 30vmin;
    letter-spacing: 2px;
    width: 100%;
    font-size: 40px;
    color: #fff;
    z-index: 1000;
}

.b span {
    margin-top: -8px;
    display: block;
    background: rgb(255, 0, 0);
    border: 1px solid #cf4217;
    width: 100%;
    height: 6px;
    border-radius: 0 10px 10px 0;
}

/*! CARDS menu BBURGUERS  */
.menu {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 50px;
    position: relative;


}

.gridContent {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.select:last-child {
    grid-area: 1 / 3 / auto / auto;
}

.select {
    display: flex;
    justify-content: space-evenly;


}

.cards {
    padding: 5px;
    width: 220px;
    height: auto;
    background: url('img/asdsadasdasd.png');
    background-size: cover;
    text-align: center;
    box-shadow: 0 0 8px #000000;
    border: 1px solid rgb(143, 143, 143);
}

.imgcard img {
    width: 100%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
    border: ridge 2px red;
    object-fit: cover;

}

.imgcard figcaption {
    text-align: center;
    background: #3d3d3de0;
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: -45px;
    padding-top: 43px;
    font-weight: 900;
    color: #fff;
    border: ridge 1px red;
    border-bottom: none;

}

.imgcard ul {
    background: #3d3d3de0;
    font-size: large;
    text-align: left;
    color: #fff;
    padding: 5px;
    list-style: none;
    border: ridge 1px red;
    border-top: none;
    padding-left: 20px;
    min-height: 158px;
    position: relative;
}

.imgcard ul li::before {
    content: "-";
    color: rgb(131, 131, 131);
    position: absolute;
    padding: 0;
    left: 5px;
}

.cards a {
    font-size: 12px;
    top: 15px;
    position: relative;
    padding: 10px;
    background: #cf4217;
    text-decoration: none;
    border: 1px solid #000;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.guarnicion {
    height: 310px;
    background-color: #3d3d3d;
    position: absolute;
    top: 140px;
    width: 100%;
    z-index: -1;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

}

.guarnicion p {
    text-align: center;
    width: 22%;
    margin: 0 auto;
    position: absolute;
    bottom: 12px;
    padding-top: 15px;
    font-size: 10px;
}

.guarnicion p b {
    left: 48%;
    position: absolute;
    top: 0;
    margin: 0 auto;
}

footer {
    height: 300px;
    background-color: #000000;

}




.colors {
    background: linear-gradient(to right, #cb3066, #16bffd, #cb3066, #16bffd, #cb3066, #16bffd, #cb3066);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 450px) {
    body {
        width: 100%;
    }

    header {
        background: url('img/asdsadasdasd.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }

    nav {
        padding-right: 0px;
        justify-content: space-evenly;
        align-items: center;
    }

    .encabezado {
        padding-top: 70px;
        width: 100%;
        font-size: 50px;
        z-index: 1000;
    }

    .encabezado img {
        padding: 30px 0;
    }
    /* MENU */
    .menu {
        width: 100%;
        display: block;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .gridContent {
        padding-bottom: 40px;
        width: 100%;
        display: grid;
        grid-template-areas: auto auto auto;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .contlogo .logo {
        width: 50px;
        padding: 7px 0;
    }

    .b h2 {
        padding-left: 50px;
    }

    .b {
        margin-top: 50px;
    }

    .select {
        display: grid;
        grid: repeat(2, auto) / repeat(2, 150px);
        justify-content: space-between;
        column-gap: 5px;
        margin: 2.5px;
    }

    .cards {
        margin: 0 auto;
        width: auto;
        height: 323px;
        width: 150px;
    }

    .imgcard img {
        height: 130px;
        min-height: 140px;
        max-height: 140px;
    }

    .imgcard figcaption {
        font-size: 12px;
    }

    .imgcard ul {
        font-size: 13px;
        min-height: 141px;
        max-height: 141px;
        list-style-position: inside;
        padding-left: 12px;
    }

    .imgcard ul li {
        position: relative;
        letter-spacing: 1px;
    }

    .imgcard ul li::before {
        position: absolute;
        padding: 0;
        left: -10px;

    }

    .imgcard ul li {
        width: 100%;
        text-align: left;
    }

    .cards a {
        top: 5px;
        font-size: 7px;
        padding: 5px;
    }
    /* GUARNICIONES */
    .guarnicion {
        padding-top:30px;
        padding-bottom:50px;
        position: relative;
        height: 200px;
        color: #fff;
        text-align: center;
        margin: 0;
        top: -60px;
        width: 100%;
        z-index: -100;
        display: grid;
    grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        border-bottom: transparent;
        align-items: center;
        overflow-x: hidden;
    }

    .guarnicion dl {
        width:120px;
        align-items: center;
        margin: 0 auto;
        letter-spacing: 2px;
    }

    .guarnicion dt {
        margin: 0 auto;
        padding-bottom: 10px;
        font-size: 12px;
    }

    .guarnicion dd {
        font-size: 10px;
        padding: 2px;
        letter-spacing: 1px;
        margin: 0px;
    }

    .guarnicion p{
        width: 90%;
        left: 5%;
        bottom: 12px;
    }
    /* ARMALA COMO QUIERAS */
    .armala {
        position: relative;
        margin: 0 auto;
        margin-top: -60px;
        padding: 5px;
        height: 300px;
        background: red;
        color: #fff;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 100px 100px;
        align-items: center;
        gap: 5px;
    }

    .armala dl {
        margin: 0 auto;
        background: #3d3d3d;
        width: 128px;
        height: 100%;
    }

    .armala dl dt {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        text-align: center;
    }
    .armala dl:nth-child(4) dt {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 90%;
    }
    .armala dl dd {
        text-align: center;
        width: auto;
        font-size: 11px;
        padding: 2px;
        letter-spacing: 1px;

    }
    .armala dl:nth-child(1) {
        background: transparent;
        width: fit-content;

    }

    .armala dl:nth-child(1) dt {
        font-size: 25px;
        font-family: 'Arvo', serif;
        font-weight: 800;
        letter-spacing: 1px;
    }
    .armala dl:nth-child(1) dd:first-of-type{
        padding: 0;
        padding-bottom: 10px;
        font-size: 10px;
    }
    .armala dl:nth-child(1) dd:last-of-type{
        font-size: 11px;
    }


    .armala dl:nth-child(4) {
        grid-area: 2 / 2 / auto / auto;
    }

    .armala dl:nth-child(5) {
        grid-area: 2 / 3 / auto / auto;
    }


    .armala p:first-of-type {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 10px;
        width: 95%;
        font-size: 12px;
        background: #3d3d3d;
        left: 10px;
        padding: 10px;
    }
    .armala p:first-of-type b{
        font-family: 'Arvo', serif;
        font-weight: 800;
        letter-spacing: 1px;
        padding-right: 10px;
        font-size: 20px;
    }
    .armala p:last-of-type{
        font-family: 'Arvo', serif;
        position: absolute;
        font-size: 11px;
        padding: 5px;
        top: -10px;
        left: 0;
     border-bottom-right-radius: 30px;
     border-top-right-radius: 30px;
        background-color: #f2f2f2;
        color: #000;
        font-weight: 1000;
    }


    /* VEGETARIANAS */
    .vegeta{
        background: #3d3d3d;
        color: #fff;
        display: grid;
        grid-template-columns: auto auto;
       
    }
     .vegeta .vege{
        width: fit-content;
        font-size: 24px;
        padding: 10px;
        font-family: 'Arvo', serif;
        position: relative;
        z-index: 1;
        letter-spacing: 2px;
        overflow-x: hidden;
     }
     .vegeta .vege::before{
        content: " ";
        position: absolute;
        background-color: rgb(243, 0, 0);
        width: 95%;
        height: 4px;
       bottom: 9px;
       left: 0px;
       z-index: -1;
     }
     .veggie-option{
        grid-area: 2 / 1 / auto / auto;
     }
     .veggie-option{
        width: 100%;
        padding-left: 10px;
        padding-bottom: 20px;
     }
     .veggie-option dt{
        font-family: 'Arvo', serif;
        padding-top: 10px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        width: 100%;
     }
     .veggie-option dd{
        width: 90%;
        letter-spacing: 0.5px;
        padding-top: 2px;
        font-size: 10px;
        font-weight: 10;
     }
     .guarni-veggie{
        margin-right: 5px;
        grid-area: 2 / 2 / auto / auto;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        background-color: #ff0000;     
        height: fit-content;   
        position: relative;
     }
     .guarni-veggie dl{
        background-color: #3d3d3d;
        height: 80px;
        width: 100px;
        padding: 0px 5px;
        margin: 5px;
     }
     .guarni-veggie dt{
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 13px;
     }
     .guarni-veggie dl:nth-child(3) dt{
        padding-top: 5px;
     }

     .guarni-veggie dd{
        font-size: 11px;
        padding: 2px;
     }

     .guarni-veggie p{
        font-family: 'Arvo', serif;
        position: absolute;
        font-size: 11px;
        padding: 5px;
        right: -5px;
        bottom: -27px;
     border-bottom-left-radius: 30px;
     border-top-left-radius: 30px;
        background-color: #f2f2f2;
        color: #000;
        font-weight: 1000;
     }

     .beyond{
        grid-area: 3 / 1 / auto  / 3 ;
        width: 100%;
        height: 100px;
        background-color: #fff;
     }
     .beyond h3{
        font-size: 25px;
        padding: 10px;
        color: rgb(255, 0, 0);
        letter-spacing: 1px;
        font-family: 'Arvo', serif;
        font-weight: bolder;
     }
     .beyond h3::after{
        color: #fff;
        content: "NUEVA!";
        background-color: #3d3d3d;
        margin-left: 10px;
        padding: 5px 5px 5px 20px;
        width: 200px;
clip-path: polygon(21% 0, 100% 0, 100% 100%, 20% 100%, 0% 50%);

     }
     .beyond p{
        text-align: center;
        color: #000;
        width: 100%;
        font-size:10px;
     }
     .beyond ul{
        display: flex;
        width: 100%;
        font-size: 10px;
        color: #fff;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
        list-style: none;
     }
     .beyond ul li{
        padding: 2.5px;
     }
     .beyond ul li:first-child{
        background-color: red;
     }
     .beyond ul li:last-child{
        background-color: #3d3d3d;
     }
}

@media screen and (max-width: 418px) {

    .guarnicion{    
    grid-template-columns: auto auto;
        height: max-content;
        row-gap: 10px;
        justify-content: space-evenly;

    }

}