@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

nav {
    padding-right: 50px;
    height: 40px;
    transition: 0.5s;
    z-index: 100000;
    background: linear-gradient(#000000, rgb(203, 67, 53, 0));
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav a{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 2px 12px rgb(0, 0, 0);
    text-decoration: none;

}

header{
    margin-top: -40px;
    background: url('img/asdsadasdasd.png');
    background-size: cover;
    background-repeat: no-repeat;
  height:700px;
  position: relative;
}

header svg{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.encabezado{
    width: 50%;
    height:50%;
    color: aliceblue;
    text-align: center;
    position: relative;
   

}
.encabezado img{
    padding-top: 50px;
    margin-top: 100px ;
    width: 50%;
    padding: 30px 0;
    background-color: #000000c7;
    border-radius: 90%;
}
.encabezado p{
    font-size: 15px;
    position: absolute;
}
.encabezado p:first-child{
    margin:85px 0 0 160px;
}




/*! WAHTSAP  */
.wpp{
    position: fixed;
    width: 55px;
    height: 55px;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
 
  .wpp i{
    position: sticky;
    font-size: 40px;
    color: white
}

main{
    height: 800px;
    z-index: 100000;
}
.menu{
    margin-top: 100px;
    background:url('img/ATRAS.png');
    background-size: cover;
    width: 100%;
    height: 500px;
    padding-top: 50px;

}

.menu h1{
    width: 50%;
    background: linear-gradient(to right,#fff ,rgb(0, 0, 0, 0), rgb(0, 0, 0, 0) ), url(img/asdsadasdasd.png);
    background-position: cover;
    background-size: cover;
    color: rgb(255, 255, 255);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    text-align: right;
    padding-right: 30px;
    letter-spacing: 4px;
}


footer{
    height: 500px;
}
@media screen and (max-width: 450px){
    header{
    background: url('img/asdsadasdasd.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    }
   
    nav {
        padding-right: 0px;
        justify-content: space-evenly;
        align-items: center;
    }
    .encabezado{
        padding-top: 70px;
        width: 100%;
        font-size: 50px;
        z-index: 1000;
    }
    /* .encabezado p:last-child{
        font-size: 30px;
        margin: 30px 0 0 100px;

        width: 190px;
        grid: repeat(2, 25px) / repeat(1, auto);
    align-items: center;
    padding-top: 40px;
height: 150px;
    } */
    
}