@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*  M E N U  */

nav {
    padding-right: 50px;
    height: 40px;
    transition: 0.5s;
    z-index: 100000;
    background: linear-gradient(#000000, rgb(203, 67, 53, 0));
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav a {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 2px 12px rgb(0, 0, 0);
    text-decoration: none;
}

header {
    margin-top: -40px;
    background: url('img/asdsadasdasd.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

header svg {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.encabezado {
    width: 50%;
    height: 50%;
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10000;


}

.encabezado img {
    margin-top: 100px;
    width: 40%;
    padding: 50px 0;
    background-color: #000000c7;
    border: 1px solid #ffffff;

    border-radius: 90%;
    box-shadow: 0 0 10px rgba(206, 206, 206, 0.705);
}

.encabezado p {
    font-size: 15px;
    position: absolute;
}

.encabezado p:first-child {
    margin: 85px 0 0 160px;
}

/* MENU SELECT NAV */


.dropdown {
    float: left;
    overflow: hidden;
}

.drop-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    padding: 5px;
}

.drop-content a {
    text-shadow: none;
    font-size: 10px;
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .drop-content {
    display: block;
}

/*! WAHTSAP  */
.wpp {
    position: fixed;
    width: 55px;
    height: 55px;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;

}

.wpp i {
    position: sticky;
    font-size: 40px;
    color: white;

}


body {
    background: #b8b8b8;


}

main {
    width: 100%;
    margin: 0 auto;
    height: 1500px;
    z-index: 100000;

}





.contlogo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contlogo .logo {
    margin: 0 auto;
    width: 120px;
    display: flex;
    background-color: #000000c7;
    border-radius: 80%;
    border: 1px solid #4b4b4bc7;
    padding: 10px 0;
    box-shadow: 0 0 10px rgb(207, 207, 207);
}

.contlogo span {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 5px;
}

.contlogo span:first-child {
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
}

.contlogo span:last-child {
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
}

/*! menu BBURGUERS  */
.b {
    width: fit-content;
    margin-bottom: -40px;
}

.b h2 {
    font-family: 'Arvo', serif;
    padding-left: 30vmin;
    letter-spacing: 2px;
    width: 100%;
    font-size: 40px;
    color: #fff;
    z-index: 1000;
}

.b span {
    margin-top: -8px;
    display: block;
    background: rgb(255, 0, 0);
    border: 1px solid #cf4217;
    width: 100%;
    height: 6px;
    border-radius: 0 10px 10px 0;
}

/*! CARDS menu BBURGUERS  */
.menu {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 50px;
    position: relative;


}

.gridContent {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.select:last-child {
    grid-area: 1 / 3 / auto / auto;
}

.select {
    display: flex;
    justify-content: space-evenly;


}

.cards {
    padding: 5px;
    width: 220px;
    height: auto;
    background: url('img/asdsadasdasd.png');
    background-size: cover;
    text-align: center;
    box-shadow: 0 0 8px #000000;
    border: 1px solid rgb(143, 143, 143);
    z-index: 100;
}

.imgcard img {
    width: 100%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
    border: ridge 2px red;
    object-fit: cover;

}

.imgcard figcaption {
    text-align: center;
    background: #3d3d3de0;
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: -45px;
    padding-top: 43px;
    font-weight: 900;
    color: #fff;
    border: ridge 1px red;
    border-bottom: none;

}

.imgcard ul {
    background: #3d3d3de0;
    font-size: large;
    text-align: left;
    color: #fff;
    padding: 5px;
    list-style: none;
    border: ridge 1px red;
    border-top: none;
    padding-left: 20px;
    min-height: 158px;
    position: relative;
}

.imgcard ul li::before {
    content: "-";
    color: rgb(131, 131, 131);
    position: absolute;
    padding: 0;
    left: 5px;
}

.cards a {
    font-size: 12px;
    top: 15px;
    position: relative;
    padding: 10px;
    background: #cf4217;
    text-decoration: none;
    border: 1px solid #000;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

/* GUARNICION */
.guarnicion {
    height: 320px;
    background-color: #3d3d3d;
    position: absolute;
    top: 120px;
    width: 100%;
    z-index: -1;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}

.guarnicion dl{
    text-align: center;
}
.guarnicion dl dt{
    padding-bottom: 10px;
}
.guarnicion dl dd{
    padding-top: 5px;
}
.guarnicion dl:nth-child(3) dt{
    width: 80%;
    margin: 0 auto;
}
.guarnicion p {
    grid-area: 3 / 1 / auto / 3;
    text-align: center;
    margin: 0 auto;
    font-size: 10px;
    position: relative;
}
.guarnicion p b{
    position: absolute;
    top: -15px;
    left: 45%;
}

/* ARMALA COMO QUIERAS */

.armala {
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    margin-top: -40px;
    padding-top: 75px;
    height: 300px;
    background: rgba(228, 0, 0, 0.918);
    color: #fff;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 100px 100px;
    align-items: center;
    gap: 5px;
    box-shadow: 0 0 10px #000;

}

.armala dl {
    margin: 0 auto;
    background: #3d3d3d;
    height: 100%; 
    align-items: center;
    justify-content: center;
}

.armala dl dt {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    text-align: center;
}

.armala dl:nth-child(4) dt {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    margin: 0 auto;
}

.armala dl dd {
    text-align: center;
    width: auto;
    font-size: 15px;
    padding: 2px;
    letter-spacing: 1px;
}

.armala dl:nth-child(1) {
    background: transparent;
    width: fit-content;
text-align: center;
margin: 0 auto;
padding-left: 50px;
}

.armala dl:nth-child(1) dt {
    font-size: 35px;
    width: 80%;
    font-family: 'Arvo', serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
}

.armala dl:nth-child(1) dd:first-of-type {
    padding: 0;
    margin-left: -50px;
    padding-bottom: 13px;
    font-size: 10px;
}

.armala dl:nth-child(1) dd:nth-child(3) {
    font-size: 13px;
    margin-left: -30px;
}
.armala dl:nth-child(1) dd:nth-child(4){
    font-size: 12px;
    top: 10px;
    left: -15px;
    padding: 8px 5px;
    background: #464646;
    text-decoration: none;
    border: 1px solid #000;
    letter-spacing: 2px;
}
.armala dl:nth-child(1) dd:nth-child(4) a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.armala dl:nth-child(2),
.armala dl:nth-child(3),
.armala dl:nth-child(4),
.armala dl:nth-child(5) {
    padding-top: 10px;
    text-align: center;
margin-top: 50px;
width: 180px;
height: 150px;
}
.armala dl:nth-child(2) {
    grid-area: 1 / 2 / auto / auto;
}
.armala dl:nth-child(3) {
    grid-area: 1 / 3 / auto / auto;
}

.armala dl:nth-child(4) {
    grid-area: 1 / 4 / auto / auto;
}

.armala dl:nth-child(5) {
    grid-area: 1 / 5 / auto / auto;
}


.armala p:first-of-type {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    width: 65%;
    font-size: 12px;
    background: #3d3d3d;
    right: 5%;
    padding: 10px;
    box-shadow: 0 0 5px #000;
}

.armala p:first-of-type b {
    font-family: 'Arvo', serif;
    font-weight: 800;
    letter-spacing: 1px;
    padding-right: 10px;
    font-size: 20px;
}

.armala p:last-of-type {
    font-family: 'Arvo', serif;
    position: absolute;
    font-size: 13px;
    padding: 5px 30px;
    top: -10px;
    left: 50%;
    margin-left: -95px;
    border-radius: 0;
    background: linear-gradient(to right, #cb306600, #ffffff, #ffffff, #ffffff, #ff005900);
    color: #000;
    font-weight: 1000;
    z-index: 100;
}




footer {
    height: 300px;
    background-color: #000000;

}




.colors {
    background: linear-gradient(to right, #cb3066, #16bffd, #cb3066, #16bffd, #cb3066, #16bffd, #cb3066);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 450px) {
    body {
        width: 100%;
    }

    header {
        background: url('img/asdsadasdasd.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }

    nav {
        padding-right: 0px;
        justify-content: space-evenly;
        align-items: center;
    }
    nav a{
        padding: 5px;
    }

    .encabezado {
        padding-top: 70px;
        width: 100%;
        font-size: 50px;
        z-index: 1000;
    }

    .encabezado img {
        padding: 30px 0;
    }

    /* MENU */
    .menu {
        width: 100%;
        display: block;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .gridContent {
        padding-bottom: 40px;
        width: 100%;
        display: grid;
        grid-template-areas: auto auto auto;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .contlogo .logo {
        width: 50px;
        padding: 7px 0;
    }

    .b h2 {
        padding-left: 50px;
    }

    .b {
        margin-top: 50px;
    }

    .select {
        display: grid;
        grid: repeat(2, auto) / repeat(2, 150px);
        justify-content: space-between;
        column-gap: 5px;
        margin: 2.5px;
    }

    .cards {
        margin: 0 auto;
        width: auto;
        height: 323px;
        width: 150px;
    }

    .imgcard img {
        height: 130px;
        min-height: 145px;
        max-height: 145px;
    }

    .imgcard figcaption {
        font-size: 12px;
    }

    .imgcard ul {
        font-size: 13px;
        min-height: 145px;
        max-height: 145px;
        list-style-position: inside;
        padding-left: 12px;
    }

    .imgcard ul li {
        position: relative;
        letter-spacing: 1px;
    }

    .imgcard ul li::before {
        position: absolute;
        padding: 0;
        left: -10px;

    }

    .imgcard ul li {
        width: 100%;
        text-align: left;
    }

    .cards a {
        top: 0;
        font-size: 7px;
        padding: 5px;
    }

    /* GUARNICIONES */
    .guarnicion {
        padding-top: 45px;
        padding-bottom: 50px;
        position: relative;
        height: 200px;
        color: #fff;
        text-align: center;
        margin: 0;
        top: -60px;
        width: 100%;
        z-index: -100;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        border-bottom: transparent;
        align-items: center;
        overflow-x: hidden;
    }

    .guarnicion dl {
        width: 120px;
        align-items: center;
        margin: 0 auto;
        letter-spacing: 2px;
    }

    .guarnicion dt {
        margin: 0 auto;
        padding-bottom: 10px;
        font-size: 12px;
    }

    .guarnicion dd {
        font-size: 10px;
        padding: 2px;
        letter-spacing: 1px;
        margin: 0px;
    }

   
    .guarnicion dl:nth-child(3) dt{
        width: 90%;
        margin: 0 auto;
    }
    .guarnicion p {
        width: 80%;
        padding-top: 20px;
        grid-area: 3 / 1 / auto / 5;
        text-align: center;
        margin: 0 auto;
    }
    .guarnicion p b{
        position: absolute;
        top: 2px;
        left: 45%;
    }
    
    /* ARMALA COMO QUIERAS */
    .armala {
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-top: -60px;
        padding: 5px;
        height: 320px;
        background: red;
        color: #fff;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 100px 100px;
        align-items: center;
        gap: 5px;
    }

    .armala dl {
        margin: 0 auto;
        background: #3d3d3d;
        width: 128px;
        height: 100%; }

    .armala dl dt {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        text-align: center;
    }

    .armala dl:nth-child(4) dt {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 90%;
    }

    .armala dl dd {
        text-align: center;
        width: auto;
        font-size: 11px;
        padding: 2px;
        letter-spacing: 1px;

    }

    .armala dl:nth-child(1) {
        background: transparent;
        width: fit-content;
        padding: 0px;
        position: relative;
    }

    .armala dl:nth-child(1) dt {
        font-size: 25px;
        font-family: 'Arvo', serif;
        font-weight: 800;
        letter-spacing: 1px;
        padding-left: 15px;
        text-align: center;
        width: 100%;
    }

    .armala dl:nth-child(1) dd:first-of-type {
        padding: 0;
        padding-bottom: 10px;
        font-size: 11px;
        margin-left: 0px;
        
    }

    .armala dl:nth-child(1) dd:nth-child(3) {
        font-size: 11px;
        margin-left: 0px;
    }

    .armala dl:nth-child(1) dd:nth-child(4) {
        border: 1px double #fff;
        font-size: 8px;
        position: absolute;
        top: 285px;
        left: -6px;
        padding: 5px;
        width: 140px;
        background: rgb(0, 0, 0);
        color: #000;
        box-shadow: 0 0 10px #fff;
    }
   
    .armala dl:nth-child(2),
    .armala dl:nth-child(3),
    .armala dl:nth-child(4),
    .armala dl:nth-child(5) {
    margin-top: 0px;
    padding-top: 0px;
    width: 120px;
    height: 100px;
    }

    .armala dl:nth-child(4) {
        grid-area: 2 / 2 / auto / auto;
    }

    .armala dl:nth-child(5) {
        grid-area: 2 / 3 / auto / auto;
    }


    .armala p:first-of-type {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 40px;
        width: 95%;
        font-size: 12px;
        background: #3d3d3d;
        left: 10px;
        padding: 10px;
        box-shadow: 0 0 2px #000;
    }

    .armala p:first-of-type b {
        font-family: 'Arvo', serif;
        font-weight: 800;
        letter-spacing: 1px;
        padding-right: 10px;
        font-size: 20px;
    }

    .armala p:last-of-type {
        font-size: 11px;
        padding: 5px;
        background: #fff;
        top: -10px;
        left: 0;
        margin-left: 0;
        border-radius: 0;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        
    }


    /* VEGETARIANAS */
    .vegeta {
        background: #3d3d3d;
        color: #fff;
        display: grid;
        grid-template-columns: auto auto;

    }

    .vegeta .vege {
        width: fit-content;
        font-size: 24px;
        padding: 10px;
        font-family: 'Arvo', serif;
        position: relative;
        z-index: 1;
        letter-spacing: 2px;
        overflow-x: hidden;
    }

    .vegeta .vege::before {
        content: " ";
        position: absolute;
        background-color: rgb(243, 0, 0);
        width: 95%;
        height: 4px;
        bottom: 9px;
        left: 0px;
        z-index: -1;
    }

    .veggie-option {
        grid-area: 2 / 1 / auto / auto;
    }

    .veggie-option {
        min-height: 230px;
        width: 100%;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .veggie-option dt {
        font-family: 'Arvo', serif;
        padding-top: 10px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        width: 100%;
    }

    .veggie-option dd {
        width: 90%;
        letter-spacing: 0.5px;
        padding-top: 2px;
        font-size: 10px;
        font-weight: 10;
    }

    .guarni-veggie {
        margin-right: 5px;
        grid-area: 2 / 2 / auto / auto;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        background-color: #ff0000;
        height: fit-content;
        position: relative;
    }

    .guarni-veggie dl {
        background-color: #3d3d3d;
        height: 80px;
        width: 100px;
        padding: 0px 5px;
        margin: 5px;
        box-shadow: 0 0 3px #000;
    }

    .guarni-veggie dt {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 13px;
    }

    .guarni-veggie dl:nth-child(3) dt {
        padding-top: 1px;
        min-width: 95px;
    }

    .guarni-veggie dd {
        font-size: 11px;
        padding: 2px;
    }

    .guarni-veggie p {
        font-family: 'Arvo', serif;
        position: absolute;
        font-size: 11px;
        padding: 5px;
        right: -5px;
        bottom: -29px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        background-color: #f2f2f2;
        color: #000;
        font-weight: 1000;
        box-shadow: 0 0 5px #000;

    }

    .beyond {
        grid-area: 3 / 1 / auto / 3;
        width: 100%;
        height: 100px;
        background-color: #fff;
        box-shadow: 0 0 10px #000;
    }

    .beyond h3 {
        font-size: 25px;
        padding: 10px;
        color: rgb(255, 0, 0);
        letter-spacing: 1px;
        font-family: 'Arvo', serif;
        font-weight: bolder;
    }

    .beyond h3::after {
        color: #fff;
        content: "NUEVA!";
        background-color: #3d3d3d;
        margin-left: 10px;
        padding: 5px 5px 5px 20px;
        width: 200px;
        clip-path: polygon(21% 0, 100% 0, 100% 100%, 20% 100%, 0% 50%);

    }

    .beyond p {
        text-align: center;
        color: #000;
        width: 100%;
        font-size: 10px;
    }

    .beyond ul {
        display: flex;
        width: 100%;
        font-size: 9px;
        color: #fff;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
        list-style: none;
    }

    .beyond ul li {
        padding: 2.5px;
    }

    .beyond ul li:first-child {
        background-color: red;
    }

    .beyond ul li:last-child {
        background-color: #3d3d3d;
    }
}

@media screen and (max-width: 444px) {

    .guarnicion {
        grid-template-columns: 150px 150px;
        margin-top: -10px;
        height: fit-content;
        margin-bottom: -100px;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .guarnicion dl{
        min-width: 100px;
    }
    .guarnicion dl:nth-child(3) dt{
        width: 90%;
    }
    .guarnicion dl:nth-child(3) dd:first-of-type{
        padding-top: 0px;
    }

    .guarnicion p {
        margin-top: -10px;
        width: 100%;
        grid-area: 3/ 1 / auto / 3;
    }
}

@media screen and (max-width: 380px) {
    
    /* ARMALA COMO QUIERAS */
    .armala {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .armala dl {
        margin: 0 auto;
        background: #3d3d3d;
        height: 100%;
        width: 110px;
    }

    
    .armala dl:nth-child(1) {
        background: transparent;
        width: 100px;

    }

    .armala dl:nth-child(1) dt {
        font-size: 22px;
        font-family: 'Arvo', serif;
        font-weight: 800;
        letter-spacing: 1px;
    }
    .armala p:first-of-type {
        font-size: 11px;
    }
    .beyond h3{
        font-size: 23px;
    }
    
    .guarni-veggie {
    margin-top: -50px;
        grid-template-columns: auto ;
        position: initial;
        box-shadow: 0 0 10px #000;
    }
    
    .guarni-veggie dl {
        height: 70px;
        width: 90px;
        padding: 0px 0px;
    }
    .guarni-veggie p {
        padding: 5px;
        left: -5px;
        right: inherit;
        bottom:140px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
}
@media screen and (max-width: 340px) {


    .beyond h3{
        font-size: 20px;
    }

}